html,body,li,a{
    font-size: 12px;
	margin:0;
	padding: 0;
}
html,body{
	position: relative;
	
}
.wrap{
	height:100%;
}
select{
	margin-right: 5px;
	border: 0;
	line-height: 30px;
}
.button{
	letter-spacing: 0;
	font-size: 12px;
	display: inline-block;
    margin: 0;
	padding: 0;
	text-align: center;
}
.button:hover{
	cursor: default;

}
.window_bar{
	position: relative;
	height:30px;
	width: 100%;
    background: #445;
   z-index: 1;
     -webkit-app-region: drag;
}
.window_bar_left{

}
.window_bar_right{
	letter-spacing: -4px;
    position: absolute;
    right: 0px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

.window_bar_right .button{
	width: 30px;
	line-height: 30px;
}

.tool_bar{
	position: relative;
	width: 100%;
	min-width:500px;
	background: #a9b;
    z-index: 1;
	letter-spacing: -4px;
	
}

.tool_bar .button{
	line-height: 30px;
	width: 50px;
	height: 30px;
	border-right: 1px solid #f9c;
}
.button:hover{
	background: #422;
	cursor: default;
}
.tool_bar_description{
	position: relative;
	letter-spacing: 0;
	line-height: 30px;
	display: inline-block;
	margin: 0 5px 0 0px;
	padding-left: 5px;
	border-left: 1px solid #f9c;

}
#title{
	display: block;
	margin-top: 15px;
	margin-left: 10px;
}
#file_list{
	position: absolute;
	right:0px;
	top: 0px;
	width: 18%;
	height: 100%;
	background: #778;
	overflow-y: scroll;
}
#file_ul{
   padding-top: 60px;
   padding-left: 0px;
   list-style: none;
   font-size: 12px;

}
#file_ul li{
	display: block;
    border-bottom: 1px solid #567;
    line-height: 30px;
	width: 100%;
	background: #a89;
}
#file_ul li:hover{
	background: #e77;
	
}
.file_name{
    margin-left: 0px;
	display: inline-block;
	text-decoration: none;
	list-style: none;
	cursor: pointer;
	
}
.delete{
	position: absolute;
	right: 0px;
	display: inline-block;
	cursor: pointer;
}
#editor{
	width: 80%;
	height:350px;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #878;
	right: 0px;
	margin:0 auto;
	margin-top:20px;

}
